body{
    margin:0;
    height:170vh;
}
header{
    background-color: #323246;
    color: white;
    display: flex;
    width:100%;
    justify-content: space-between;
}
.left_header, .right_header{
    display: flex;
}
.border_div{
    background-color:white ;
    width: 2px;
    height: 50px;
    position: relative;
    top: 6px;
    left: 40%
}
.aaa{
    justify-content: space-between;
    width: 40px;
    height: 30px;
    position: relative;
    top: 15px;
    left: 5%
}
.aa{
    justify-content: space-between;
    width: 20px;
    height: 30px;
    position: relative;
    top: 15px;
    left: 20%
}
.text{
    justify-content: space-between;
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    left: 25%;
}
.text2{
    justify-content: space-between;
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    left: 45%;
}
.text3{
    justify-content: space-between;
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    right: 60%;
}
.level{
    justify-content: space-between;
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    right: 72%;
}
.poisk{
    justify-content: space-between;
    width: 30px;
    height: 30px;
    position: relative;
    top: 15px;
    right: 90%
}
.border_div2{
    background-color:white ;
    width: 2px;
    height: 50px;
    position: relative;
    top: 6px;
    right: 80%;
}
.border_div3{
    background-color:white ;
    width: 2px;
    height: 50px;
    position: relative;
    top: 6px;
    right: 65%;
}
.border_blue{
    height: 7px ;
    background-color: #91C5EB ;
    border-bottom: #618DFF 1px solid ;
    border-top: #618DFF 1px solid ;
}
main{
    background-color: #E7E7E7 ;
    height:100%;
}
.main_div{
    margin: 30px;
    display: flex ;
    justify-content: space-between;
}
.main_div_text{
    width: 900px ;
    background-color: white;
    padding:10px 5% 2%;
    border: #C3C3C3 1px solid;
}
.footer_div{
    height:1%;
    width: 895px ;
    background-color: #F2F2F2;
    padding:100px 5% 5%;
    border: #C3C3C3 1px solid;
    margin-left: 408px;
    margin-top: -1.6%;
}
.bottom{
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    margin-left: 5%;
    display:inline;

}
.p_bottom{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.oops{
    width: 100px;
    display:inline;
    margin-top:-50px;
    margin-right: 40px ;
}
.oops1{
    font-size: 25px;
    display:inline;
    color: #989AAC;
    position: relative;
    top:-25px;
    left: 1% ;
}

.otziv{
    background-color: #E7E7E7;
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    position: relative;
    top:1px;
    left: 29% ;
    padding: 3px 7px;
    padding-left: 0px;
}
.otziv2{
    background-color: #E7E7E7;
    width: 35px ;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
    position: relative;
    top: 11px;
    left: 265px ;
    padding: 3px 7px 3px 3%;
  padding-left: 0px;
}
.border_text{
    font-size: 28px;
    font-family: 'Comfortaa', cursive;
    border: #C2C2C2 1px solid;
    margin: 13px;
    text-align: center;
    padding: 0px 0% 0% 0%;
    position: relative;
    right: 12px ;
    width: 100%;
    
}
.paint{
    width:15%;
    margin: 0px;
    position: relative;
    bottom: 15px;
    right: 30px;
}
.paint1{
    width:15%;
    margin: 0px;
    position: relative;
    bottom: 15px;
    left: 30px;
}
.text_border{
    margin-top:40px;
    margin-left: 50px;
    margin-right: 50px;
}
.text_border1{
    margin-top:40px;
    margin-left: 50px;
    margin-right: 50px;
}
.text_border2{
    margin-top:40px;
    margin-left: 50px;
    margin-right: 50px;
}
.stiker{
    width: 250px;
    margin-right: 500px;
    margin-top: -1%;
}
.stiker2{
    width: 25%;
    position: relative;
    bottom: -8px;
    margin-top: -25%;
    margin-left: 35%;
}
.stiker3{
    width: 22.6%;
    position: relative;
    bottom: -8px;
    margin-top: -20%;
    margin-left: 5%;
}